<section
  class="py-6 bg-[#F5F5F5] overflow-hidden transition-colors duration-500"
>
  <div class="max-w-7xl mx-auto px-6 mb-12 text-center reveal-element">
    <h1
      class="font-display text-5xl md:text-7xl lg:text-8xl text-primary mb-6 leading-tight"
    >
      Fotos <br />
      <span class="italic font-light text-gray-600">Retrato</span>
    </h1>

    <p
      class="mt-8 text-sm md:text-base max-w-lg mx-auto text-gray-600 leading-relaxed font-light"
    >
      Una colección curada de texturas, aromas visuales y la belleza efímera de
      la alta cocina. Capturando la esencia de cada ingrediente.
    </p>
  </div>
</section>

<section class="bg-[#F5F5F5] overflow-hidden transition-colors duration-500">
  <div
    class="w-full overflow-x-auto snap-x-mandatory pb-12 no-scrollbar px-6 md:px-12"
  >
    <div
      class="grid grid-rows-2 md:grid-rows-3 grid-flow-col gap-4 w-max h-[500px] md:h-[650px] mx-auto"
    >
      <div
        class="row-span-2 w-[200px] md:w-[280px] rounded-3xl overflow-hidden reveal-element delay-100 group cursor-pointer relative shadow-lg snap-center"
      >
        <img
          alt="Boda Detalle Novia"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuBkMp6AQ1pwGSSuaeuyYUKNQl8YMlQXIuyzL135ck8d1uQ7ZQ4qi-wC5TmM74v59Oy6Y_TPMUiEQ9h1bQxDodCPi0PvrxZp-gMo3afZI2FaG5BSwsEUEZeD8l3MAc3h0guJ4yVHLHSFgnYtPhhtVSMee2Y9g34Q38nSk2DK149_hhVx1CI6NFh5Jwms59Epk1HY-8FEaOC_xwqmOqX_F9zg6BFkKpUAuxCIvRR55kgY9ZIRtKx3MvRG22PXC0WXEGdcpjOsfFH5mNSd"
        />
        <div
          class="absolute inset-0 bg-black/10 group-hover:bg-black/0 transition-colors duration-500"
        >
        </div>
      </div>

      <div
        class="w-[200px] md:w-[280px] rounded-3xl overflow-hidden reveal-element delay-200 group cursor-pointer relative shadow-lg snap-center"
      >
        <img
          alt="Retrato Novios"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuD5079bTivx0Ei0fJsESWZk5-RjnRqFJ87nAbikjc1MPikDYV9Uumjv6tyWdmkhVpc6ucXoTilRUPZYj_qIRbFBT3OFR1zbfp5FLm8JqpYlOqCMEeAzSKoXI1vU5-ii2TguVAOaaDDoLzn_oUCFb-SGA-2QVM66QFlsASmasv_7Y6d6O_gsWLzJJ40Qq839HUe_2N3Qy7B7gA79xIpJOIaLuXUNSiL2USRAeB7o_vtoR5_0iKAxFDpveMQNf2ezIy48BvH9QGi5q1JK"
        />
        <div
          class="absolute inset-0 bg-black/10 group-hover:bg-black/0 transition-colors duration-500"
        >
        </div>
      </div>

      <div
        class="w-[300px] md:w-[400px] rounded-3xl overflow-hidden reveal-element delay-300 group cursor-pointer relative shadow-lg snap-center"
      >
        <img
          alt="Ceremonia Boda"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuC4XreqSl39SBC7nXFOH5KuYhfvUJT0Buu57QQrejjyENV8lJOL8vWn2JpTO5-CBnIecO5ckTijLhGEtIGcVlMMTsJ7LSgslneNhhuD5QLI9rhJDXLF2s4Rsbb3XTpQrRfnGwil_JVxYST_fXXNHExFoSZXBQPgkxunWp17GRbj0icys1_M6asyLzC77bWM049W7TgvbIr79sGNe1Cr5YEaJwMwAq_4W4V7pvHWYIrKry375nVWR3UYJa2UsAO5CucKrMjbAYzOW_jH"
        />
        <div
          class="absolute inset-0 bg-black/10 group-hover:bg-black/0 transition-colors duration-500"
        >
        </div>
      </div>

      <div
        class="row-span-2 w-[300px] md:w-[400px] rounded-3xl overflow-hidden reveal-element delay-400 group cursor-pointer relative shadow-lg snap-center"
      >
        <img
          alt="Detalle Anillos"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuB6ASH9GnNvvgQQrL6gdVTLpXXNkDJz_dFfdIuKrJidEL-lbxdqr_3taGw9cyPN5pbCC3fvPJUtUYN5EIMub0ljxgyCjA6fDqhN_wEQtXoCFOKmHGxoRji4wT7zoZUhydxTjfMVlf95dCajuA88wYlsbUy8nJomu6Z2PxxX3-ubJtQHJpBVHMRYrtpEW828wo1dI5eYtRV0iZiP0LLB667tgHZVA4RAPo8eW03oVyIWHc0CJOSnIYbhGcL3RqLIh__r4CmD9tqbQseQ"
        />
        <div
          class="absolute inset-0 bg-black/10 group-hover:bg-black/0 transition-colors duration-500"
        >
        </div>
      </div>

      <div
        class="row-span-2 w-[200px] md:w-[280px] rounded-3xl overflow-hidden reveal-element delay-500 group cursor-pointer relative shadow-lg snap-center"
      >
        <img
          alt="Boda Baile"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuAjcPEXKWlNVvzKTr3ucmTlnN-lbCyKcBLhh8jk55i__AG7LHcglOyUhbOMV5q5B8BXlHacOCJuncilRz1jKmnObR_5SO8rRLCLf4t15udKO0ofdZV9syEVhxccFBe16wLCrYWpedrL6PXNKUushlEH-JUjAlTH9kl-poJkF_ZsoKmFaLyzkB4Salx7qtZFut-UMYHPjk0bG7Q2phWft4qDUKMIx3WLOm7Vh6x2B9PoSvlY_KWtdF2W7Y3rLkgYie6gxWSWyqjk0NXv"
        />
        <div
          class="absolute inset-0 bg-black/10 group-hover:bg-black/0 transition-colors duration-500"
        >
        </div>
      </div>

      <div
        class="w-[350px] md:w-[500px] rounded-3xl overflow-hidden reveal-element delay-600 group cursor-pointer relative shadow-lg snap-center"
      >
        <img
          alt="Boda Paisaje"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuDvlWxwFZ0l1dqrWmssgHft-FJ54eRDo7WPgKXAr5l0x3wFqCTmUgFSdWKrGIuFhHkaWO3RGXmUt4kPRyj2snidSJ6XvGz3FwL7P9EQsQm1js_fj_iSihEBACvgBvWvFRYHvmOPFjVPX3ufA69fdqfQHuUiDcaQlvORDaS0szGrZvXwwXNbGauO_gOiUYk1OUt5EjPU4Ks3GyNodwwoA5b2Ep5HX4gmnwSdRTGvL93i3ZMeXnJ2ZDcVKvfIAG0T7Wqk-kZS5D2CF38F"
        />
        <div
          class="absolute inset-0 bg-black/10 group-hover:bg-black/0 transition-colors duration-500"
        >
        </div>
      </div>

      <div
        class="w-[200px] md:w-[280px] rounded-3xl overflow-hidden reveal-element delay-200 group cursor-pointer relative shadow-lg snap-center"
      >
        <img
          alt="Extra Boda"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuC4XreqSl39SBC7nXFOH5KuYhfvUJT0Buu57QQrejjyENV8lJOL8vWn2JpTO5-CBnIecO5ckTijLhGEtIGcVlMMTsJ7LSgslneNhhuD5QLI9rhJDXLF2s4Rsbb3XTpQrRfnGwil_JVxYST_fXXNHExFoSZXBQPgkxunWp17GRbj0icys1_M6asyLzC77bWM049W7TgvbIr79sGNe1Cr5YEaJwMwAq_4W4V7pvHWYIrKry375nVWR3UYJa2UsAO5CucKrMjbAYzOW_jH"
        />
        <div
          class="absolute inset-0 bg-black/10 group-hover:bg-black/0 transition-colors duration-500"
        >
        </div>
      </div>
    </div>
  </div>
</section>
