<header class="relative w-full h-[60vh] flex items-center justify-center overflow-hidden">
<div class="absolute inset-0 bg-black/40 z-10"></div>
<img alt="Luxury Wedding Hands Detail" class="absolute inset-0 w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDfIlcPry5wXvDXYwBiPSWhpL3b4nHHhKvDjtoWrH5vYv8eFvU91pdSN-mPo2dTv0vSEsTGFG8jMpjO7iWvEr6tWQaHKHDG02om-r33Ol3_wwhh0eMfbLMiCKEHvjSVhg-mT_dBEREZKmqc4__2UNopzrE6xAU0A2S44g9hJioQa6t5fj0F366hQMtS-Ib3aYivlDDa4BKUMmKHw_RZSfb9hU5jazy0q3uslf2mhgE9L4sLtAtRQfLggpznX4rfkycvObtdlnocjRgP"/>
<div class="relative z-20 text-center max-w-2xl px-6 fade-in-up">
<h2 class="text-xs md:text-sm tracking-[0.3em] uppercase text-gray-200 mb-4">Portafolio</h2>
<h1 class="text-4xl md:text-6xl font-display text-white italic tracking-wide">Capturando la Esencia</h1>
<div class="w-16 h-[1px] bg-primary mx-auto mt-8"></div>
<p class="mt-8 text-sm md:text-base font-display text-gray-300 italic leading-relaxed">
                "Así, amable lector, te he dado una historia fiel de mis viajes... donde no he sido tan estudioso del ornamento como de la verdad."
            </p>
</div>
</header>